body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:  rgb(219, 162, 105);
    margin: 0;
}

nav ul {
    background-color: olive;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px;
    display: inline-block;
    background-color: olive;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid olive;
}

nav ul li a:hover {
    background-color: olive;
    color: orangered;
    border-bottom: 3px solid orangered;

}
article, header {
    margin: 0px;
} 
 
footer p { 
    text-align: center;
    font-style: inherit;
    color: olive;
    clear:both;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
th,td {
    padding: 10px;
}

thead tr {
    border-bottom: solid 3px orangered;
}
tbody tr:hover {
    background-color: olive;
}